In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
df = pd.read_csv("Resources/final_df.csv")
df.head()

,year_film,year_ceremony,category,name,film,winner,Rated,Released,Runtime,Director,...,Country,Awards,Metascore,imdbRating,imdbVotes,BoxOffice,Production,Genre1,Genre2,Genre3
0,1929,1930,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False,Passed,01 Nov 1929,90,Alfred E. Green,...,United States,Won 1 Oscar. 4 wins & 2 nominations total,0.0,6.1,1338,0,A & E,Biography,Drama,History
1,1929,1930,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False,Passed,18 Jan 1930,107,Ernst Lubitsch,...,United States,Nominated for 6 Oscars. 1 win & 6 nominations ...,0.0,7.0,2500,0,NaN,Comedy,Musical,Romance
2,1931,1932,OUTSTANDING PRODUCTION,Samuel Goldwyn Productions,Arrowsmith,False,Approved,26 Dec 1931,108,John Ford,...,United States,Nominated for 4 Oscars. 4 nominations total,0.0,6.2,1862,0,NaN,Drama,NaN,NaN
3,1931,1932,OUTSTANDING PRODUCTION,Fox,Bad Girl,False,Passed,13 Sep 1931,90,Frank Borzage,...,United States,Won 2 Oscars. 2 wins & 1 nomination total,0.0,6.5,1504,0,NaN,Drama,Romance,NaN
4,1931,1932,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Champ,False,Passed,21 Nov 1931,86,King Vidor,...,United States,Won 2 Oscars. 2 wins & 3 nominations total,0.0,7.3,3416,0,NaN,Drama,Family,Sport

In [2]:
df.columns

Index(['year_film', 'year_ceremony', 'category', 'name', 'film', 'winner',
       'Rated', 'Released', 'Runtime', 'Director', 'Writer', 'Actors',
       'Language', 'Country', 'Awards', 'Metascore', 'imdbRating', 'imdbVotes',
       'BoxOffice', 'Production', 'Genre1', 'Genre2', 'Genre3'],
      dtype='object')

In [3]:
df.nunique()

year_film         92
year_ceremony     92
category           4
name             367
film             521
winner             2
Rated             13
Released         504
Runtime          116
Director         305
Writer           514
Actors           526
Language         135
Country           78
Awards           494
Metascore         53
imdbRating        33
imdbVotes        527
BoxOffice        341
Production         4
Genre1            12
Genre2            18
Genre3            16
dtype: int64

In [4]:
df_1 = df.drop(["year_film","category","name","film","Released", "Director", "Writer",
               "Actors", "Language", "Country", "Awards", "Production"],
              axis=1)

In [5]:
df_1.nunique()

year_ceremony     92
winner             2
Rated             13
Runtime          116
Metascore         53
imdbRating        33
imdbVotes        527
BoxOffice        341
Genre1            12
Genre2            18
Genre3            16
dtype: int64

In [6]:
df_1["Genre1"].value_counts()

Drama        197
Comedy       101
Biography     98
Crime         44
Action        39
Adventure     37
Animation      3
Musical        2
Film-Noir      2
Horror         2
Western        1
Short          1
Name: Genre1, dtype: int64

In [7]:
df_1["Genre2"].value_counts()

Drama        232
Romance       72
Adventure     22
Music         17
Mystery       17
Family        15
Crime         14
Comedy        14
Musical       10
History       10
Fantasy        9
Biography      8
War            8
Thriller       8
Western        7
Film-Noir      5
Sport          3
Sci-Fi         3
Name: Genre2, dtype: int64

In [8]:
df_1["Genre3"].value_counts()

Romance      83
History      44
Drama        36
Thriller     31
War          27
Music        17
Mystery      15
Family       14
Musical      13
Fantasy      13
Sport         8
Sci-Fi        7
Film-Noir     6
Crime         5
Western       4
Comedy        3
Name: Genre3, dtype: int64

In [9]:
genres = []
genres.extend(df_1["Genre1"].values)
genres.extend(df_1["Genre2"].values)
genres.extend(df_1["Genre3"].values)

In [10]:
genres

['Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Biography',
 'Biography',
 'Musical',
 'Comedy',
 'Comedy',
 'Biography',
 'Comedy',
 'Comedy',
 'Comedy',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Adventure',
 'Comedy',
 'Adventure',
 'Drama',
 'Comedy',
 'Comedy',
 'Adventure',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Biography',
 'Comedy',
 'Comedy',
 'Adventure',
 'Crime',
 'Drama',
 'Biography',
 'Adventure',
 'Comedy',
 'Comedy',
 'Drama',
 'Action',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Comedy',
 'Adventure',
 'Adventure',
 'Adventure',
 'Drama',
 'Drama',
 'Action',
 'Drama',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Biography',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Crime',
 'Biography',
 'Biography',
 'Film-Noir',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Biography',
 'Drama',
 'Comedy',
 'Action',
 'Biography',
 'Adventure',
 'Comedy',
 'Comedy',
 'Biography',
 'Comedy',
 'Drama',
 'Biography',
 'Drama',
 'Crime',
 'Crime',
 'Comedy',
 'Drama',
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Film-Noir',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Action',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Drama',
 'Adventure',
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Crime',
 'Musical',
 'Drama',
 'Biography',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Adventure',
 'Drama',
 'Drama',
 'Biography',
 'Adventure',
 'Adventure',
 'Crime',
 'Drama',
 'Crime',
 'Crime',
 'Comedy',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Drama',
 'Adventure',
 'Biography',
 'Drama',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Crime',
 'Adventure',
 'Action',
 'Adventure',
 'Crime',
 'Adventure',
 'Biography',
 'Drama',
 'Adventure',
 'Biography',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Biography',
 'Comedy',
 'Comedy',
 'Biography',
 'Adventure',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Comedy',
 'Drama',
 'Biography',
 'Biography',
 'Drama',
 'Drama',
 'Drama',
 'Biography',
 'Biography',
 'Adventure',
 'Drama',
 'Crime',
 'Action',
 'Drama',
 'Drama',
 'Comedy',
 'Biography',
 'Crime',
 'Drama',
 'Action',
 'Drama',
 'Biography',
 'Drama',
 'Adventure',
 'Crime',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Biography',
 'Action',
 'Adventure',
 'Biography',
 'Adventure',
 'Comedy',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Crime',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Biography',
 'Biography',
 'Drama',
 'Biography',
 'Biography',
 'Drama',
 'Biography',
 'Biography',
 'Biography',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Adventure',
 'Drama',
 'Comedy',
 'Biography',
 'Biography',
 'Adventure',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Adventure',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Biography',
 'Comedy',
 'Comedy',
 'Drama',
 'Biography',
 'Biography',
 'Drama',
 'Animation',
 'Biography',
 'Drama',
 'Drama',
 'Crime',
 'Crime',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Action',
 'Biography',
 'Drama',
 'Drama',
 'Biography',
 'Drama',
 'Comedy',
 'Crime',
 'Biography',
 'Drama',
 'Adventure',
 'Comedy',
 'Biography',
 'Drama',
 'Drama',
 'Crime',
 'Comedy',
 'Biography',
 'Comedy',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Biography',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Crime',
 'Biography',
 'Drama',
 'Drama',
 'Action',
 'Biography',
 'Action',
 'Crime',
 'Biography',
 'Comedy',
 'Crime',
 'Action',
 'Comedy',
 'Crime',
 'Drama',
 'Action',
 'Biography',
 'Action',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Biography',
 'Biography',
 'Drama',
 'Biography',
 'Comedy',
 'Drama',
 'Biography',
 'Short',
 'Biography',
 'Action',
 'Drama',
 'Crime',
 'Action',
 'Comedy',
 'Biography',
 'Drama',
 'Comedy',
 'Crime',
 'Crime',
 'Drama',
 'Drama',
 'Biography',
 'Biography',
 'Drama',
 'Crime',
 'Action',
 'Biography',
 'Action',
 'Drama',
 'Adventure',
 'Comedy',
 'Animation',
 'Comedy',
 'Drama',
 'Action',
 'Action',
 'Comedy',
 'Biography',
 'Biography',
 'Biography',
 'Animation',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Adventure',
 'Drama',
 'Adventure',
 'Comedy',
 'Biography',
 'Drama',
 'Action',
 'Drama',
 'Biography',
 'Adventure',
 'Drama',
 'Drama',
 'Adventure',
 'Biography',
 'Comedy',
 'Drama',
 'Crime',
 'Action',
 'Biography',
 'Drama',
 'Drama',
 'Drama',
 'Biography',
 'Biography',
 'Biography',
 'Action',
 'Comedy',
 'Drama',
 'Adventure',
 'Biography',
 'Biography',
 'Biography',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Action',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Biography',
 'Crime',
 'Biography',
 'Comedy',
 'Biography',
 'Drama',
 'Drama',
 'Drama',
 'Biography',
 'Action',
 'Horror',
 'Comedy',
 'Drama',
 'Biography',
 'Drama',
 'Action',
 'Biography',
 'Biography',
 'Biography',
 'Biography',
 'Drama',
 'Drama',
 'Biography',
 'Action',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Biography',
 'Comedy',
 'Comedy',
 'Drama',
 'Action',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Crime',
 'Action',
 'Action',
 'Comedy',
 'Biography',
 'Action',
 'Drama',
 'Drama',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 nan,
 'Romance',
 'Family',
 'Drama',
 'Musical',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 nan,
 'Musical',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Music',
 'Crime',
 nan,
 nan,
 'Drama',
 'Music',
 'Adventure',
 'Drama',
 'Drama',
 'Drama',
 'Fantasy',
 'Biography',
 'Musical',
 'Mystery',
 'Musical',
 'Drama',
 'Romance',
 'Musical',
 'Romance',
 'Drama',
 'Romance',
 'Music',
 'Drama',
 'Musical',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Music',
 'Drama',
 nan,
 'Music',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Romance',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Family',
 'Romance',
 'Romance',
 'Romance',
 nan,
 'Drama',
 'Romance',
 'Drama',
 'War',
 'Family',
 'Romance',
 'Film-Noir',
 'Drama',
 'Mystery',
 'Fantasy',
 'Romance',
 'Family',
 'Romance',
 'Film-Noir',
 'Drama',
 'Drama',
 'Mystery',
 nan,
 'Romance',
 'Romance',
 'Music',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Western',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Fantasy',
 nan,
 'Film-Noir',
 'Drama',
 'Mystery',
 'Romance',
 'Family',
 'Music',
 'Family',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 nan,
 nan,
 'Music',
 'Mystery',
 'Film-Noir',
 'Drama',
 'Romance',
 'Drama',
 'War',
 'Drama',
 'Drama',
 'Adventure',
 'Film-Noir',
 'Musical',
 'Romance',
 'Drama',
 nan,
 'Family',
 'Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'History',
 'History',
 'Romance',
 'Western',
 'War',
 'Music',
 'Drama',
 'Romance',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Family',
 'Western',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Musical',
 'Romance',
 'Mystery',
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Drama',
 nan,
 nan,
 nan,
 'Romance',
 'Adventure',
 'Sport',
 'War',
 'Drama',
 'Biography',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Comedy',
 'Drama',
 'War',
 'Family',
 'Family',
 'Drama',
 'Romance',
 'Romance',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Biography',
 'Comedy',
 'Drama',
 'Drama',
 'Mystery',
 'Comedy',
 'Drama',
 'Family',
 'Romance',
 'Romance',
 'Drama',
 'Crime',
 'Comedy',
 nan,
 'Drama',
 'Drama',
 nan,
 'Romance',
 'Drama',
 'Drama',
 'Sci-Fi',
 'Family',
 'Crime',
 'Romance',
 'Drama',
 'Music',
 'Drama',
 'Drama',
 'Family',
 'Drama',
 nan,
 'Crime',
 'Romance',
 'Mystery',
 'Mystery',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Crime',
 'Mystery',
 'Drama',
 'History',
 'Drama',
 nan,
 'Sport',
 'Drama',
 'Romance',
 'Drama',
 nan,
 'Music',
 'Romance',
 'War',
 'Fantasy',
 'Crime',
 'Drama',
 'Music',
 'Mystery',
 'Drama',
 nan,
 nan,
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Drama',
 nan,
 'Biography',
 'Music',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Drama',
 nan,
 nan,
 'Drama',
 'Crime',
 'Romance',
 'Romance',
 'Drama',
 'Drama',
 'War',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Romance',
 'Drama',
 nan,
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Family',
 'Drama',
 'Drama',
 'Fantasy',
 'Family',
 'Crime',
 'History',
 'Romance',
 'Drama',
 'Drama',
 'Thriller',
 'Romance',
 nan,
 'Western',
 'Crime',
 'Crime',
 'Music',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Romance',
 'Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'War',
 'Drama',
 'History',
 nan,
 'Romance',
 'Drama',
 'Drama',
 'Mystery',
 'Romance',
 'Adventure',
 'Drama',
 'Adventure',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Adventure',
 'Crime',
 'Drama',
 'Romance',
 'Adventure',
 'Drama',
 'Adventure',
 'Drama',
 'Adventure',
 'Drama',
 'History',
 'Drama',
 'Drama',
 'Sport',
 'Drama',
 'Drama',
 'Romance',
 'Crime',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Adventure',
 'Drama',
 'Drama',
 'Mystery',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Fantasy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Adventure',
 'Drama',
 'Sci-Fi',
 nan,
 'Drama',
 'Drama',
 'Adventure',
 'Drama',
 'Thriller',
 'Biography',
 'Adventure',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Adventure',
 'Western',
 'Mystery',
 'Drama',
 'Drama',
 'Drama',
 nan,
 'Drama',
 'Fantasy',
 'Drama',
 'Fantasy',
 'Adventure',
 nan,
 'Drama',
 'Drama',
 'Western',
 'Musical',
 'Drama',
 'Drama',
 'Drama',
 'History',
 'Drama',
 'Biography',
 'Drama',
 'Sci-Fi',
 'Romance',
 nan,
 'Comedy',
 'Drama',
 'Comedy',
 'Biography',
 'Drama',
 nan,
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Music',
 'Comedy',
 'History',
 'Romance',
 'Adventure',
 'Drama',
 'Adventure',
 'Thriller',
 'Crime',
 'Mystery',
 nan,
 'Drama',
 'Drama',
 'Drama',
 ...]

In [11]:
genres = list(set(genres))
genres

['Romance',
 'Western',
 'Horror',
 'War',
 'Thriller',
 'Sport',
 'Biography',
 'Adventure',
 'Musical',
 'History',
 'Mystery',
 'Family',
 'Comedy',
 nan,
 'Fantasy',
 'Sci-Fi',
 'Music',
 'Action',
 'Drama',
 'Short',
 'Film-Noir',
 'Animation',
 'Crime']

In [12]:
for g in genres:
    df_1[g] = 0

In [13]:
for g in genres:
    df_1[g] = ((df_1["Genre1"] == g) | (df_1["Genre2"] == g) | (df_1["Genre3"] == g)).astype(int)

In [14]:
df_1.head()

,year_ceremony,winner,Rated,Runtime,Metascore,imdbRating,imdbVotes,BoxOffice,Genre1,Genre2,...,NaN,Fantasy,Sci-Fi,Music,Action,Drama,Short,Film-Noir,Animation,Crime
0,1930,False,Passed,90,0.0,6.1,1338,0,Biography,Drama,...,0,0,0,0,0,1,0,0,0,0
1,1930,False,Passed,107,0.0,7.0,2500,0,Comedy,Musical,...,0,0,0,0,0,0,0,0,0,0
2,1932,False,Approved,108,0.0,6.2,1862,0,Drama,NaN,...,0,0,0,0,0,1,0,0,0,0
3,1932,False,Passed,90,0.0,6.5,1504,0,Drama,Romance,...,0,0,0,0,0,1,0,0,0,0
4,1932,False,Passed,86,0.0,7.3,3416,0,Drama,Family,...,0,0,0,0,0,1,0,0,0,0

In [15]:
df_1.drop(columns=["Genre1", "Genre2", "Genre3"], inplace=True)

In [16]:
df_1.drop(columns=[df_1.columns[-7]], inplace=True)

In [17]:
df_1.head()

,year_ceremony,winner,Rated,Runtime,Metascore,imdbRating,imdbVotes,BoxOffice,Romance,Western,...,Comedy,NaN,Fantasy,Sci-Fi,Action,Drama,Short,Film-Noir,Animation,Crime
0,1930,False,Passed,90,0.0,6.1,1338,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1930,False,Passed,107,0.0,7.0,2500,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,1932,False,Approved,108,0.0,6.2,1862,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1932,False,Passed,90,0.0,6.5,1504,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,1932,False,Passed,86,0.0,7.3,3416,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [18]:
df_1 = pd.get_dummies(df_1, columns=["Rated"])
df_1.head()

,year_ceremony,winner,Runtime,Metascore,imdbRating,imdbVotes,BoxOffice,Romance,Western,Horror,...,Rated_M/PG,Rated_Not Rated,Rated_PG,Rated_PG-13,Rated_Passed,Rated_R,Rated_TV-MA,Rated_TV-PG,Rated_Unrated,Rated_X
0,1930,False,90,0.0,6.1,1338,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1930,False,107,0.0,7.0,2500,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1932,False,108,0.0,6.2,1862,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1932,False,90,0.0,6.5,1504,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1932,False,86,0.0,7.3,3416,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [19]:
df_1["winner"] = df_1["winner"].astype(int)

In [20]:
df_1.head()

,year_ceremony,winner,Runtime,Metascore,imdbRating,imdbVotes,BoxOffice,Romance,Western,Horror,...,Rated_M/PG,Rated_Not Rated,Rated_PG,Rated_PG-13,Rated_Passed,Rated_R,Rated_TV-MA,Rated_TV-PG,Rated_Unrated,Rated_X
0,1930,0,90,0.0,6.1,1338,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1930,0,107,0.0,7.0,2500,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1932,0,108,0.0,6.2,1862,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1932,0,90,0.0,6.5,1504,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1932,0,86,0.0,7.3,3416,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [21]:
# svm or random forest