This notebook's purpose is to run an API call to gather more data on our Best Picture nominees and winners. We also run API calls on movies anticipated to be nominated at the 2024 Oscars and for fun we've also done API calls on older movies that our group feels were overlooked and did not receive a Best Picture nomination.

In [1]:
from config import api_key
import requests
import json
import pandas as pd

In [2]:
# Read in the best_picture csv as a dataframe
best_picture = pd.read_csv("Resources/best_picture.csv")
best_picture

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1929,1930,3,OUTSTANDING PRODUCTION,Universal,All Quiet on the Western Front,True
1,1929,1930,3,OUTSTANDING PRODUCTION,Cosmopolitan,The Big House,False
2,1929,1930,3,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False
3,1929,1930,3,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Divorcee,False
4,1929,1930,3,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False
...,...,...,...,...,...,...,...
578,2022,2023,95,BEST PICTURE,"Kristie Macosko Krieger, Steven Spielberg and ...",The Fabelmans,False
579,2022,2023,95,BEST PICTURE,"Todd Field, Alexandra Milchan and Scott Lamber...",Tár,False
580,2022,2023,95,BEST PICTURE,"Tom Cruise, Christopher McQuarrie, David Ellis...",Top Gun: Maverick,False
581,2022,2023,95,BEST PICTURE,"Erik Hemmendorff and Philippe Bober, Producers",Triangle of Sadness,False
582,2022,2023,95,BEST PICTURE,"Dede Gardner, Jeremy Kleiner and Frances McDor...",Women Talking,False

In [3]:
# Create a function that will do the OMDB API call
omdb_data = []
def omdb_api(dataframe):
    for index, row in dataframe.iterrows():
        # we need the film + year for the api call
        film = dataframe.loc[index, "film"]
        film = film.replace(" ", "+")
        year = dataframe.loc[index, "year_film"]
        try:
            # define target url
            target_url = f"http://www.omdbapi.com/?apikey={api_key}&t={film}&y={year}"
            # make api call
            response = requests.get(target_url).json()
            omdb_data.append(response)
            print("FILM FOUND")
        except:
            print(f"{film} NOT FOUND")

# Run API call on historical Best Picture dataset

In [10]:
# Run the API call on all movies in the best_picture dataframe 
omdb_api(best_picture)

FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND

In [11]:
# Save the API call results to a dataframe
omdb_data_df = pd.DataFrame(omdb_data)

In [12]:
# Preview the dataframe
omdb_data_df.head()

,Response,Error,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,totalSeasons
0,False,Movie not found!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,Movie not found!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,NaN,Disraeli,1929,Passed,01 Nov 1929,90 min,"Biography, Drama, History",Alfred E. Green,"Julien Josephson, De Leon Anthony, Louis N. Pa...",...,N/A,6.1,"1,338",tt0019823,movie,29 Apr 2008,N/A,A & E,N/A,NaN
3,False,Movie not found!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,NaN,The Love Parade,1929,Passed,18 Jan 1930,107 min,"Comedy, Musical, Romance",Ernst Lubitsch,"Ernest Vajda, Guy Bolton, Leon Xanrof",...,N/A,7.0,"2,500",tt0020112,movie,N/A,N/A,N/A,N/A,NaN

In [13]:
# Remove any rows where Response = False, since these movies had no data to be found
omdb_data_df = omdb_data_df.loc[omdb_data_df["Response"]=="True"]
omdb_data_df.head()

,Response,Error,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,totalSeasons
2,True,NaN,Disraeli,1929,Passed,01 Nov 1929,90 min,"Biography, Drama, History",Alfred E. Green,"Julien Josephson, De Leon Anthony, Louis N. Pa...",...,N/A,6.1,"1,338",tt0019823,movie,29 Apr 2008,N/A,A & E,N/A,NaN
4,True,NaN,The Love Parade,1929,Passed,18 Jan 1930,107 min,"Comedy, Musical, Romance",Ernst Lubitsch,"Ernest Vajda, Guy Bolton, Leon Xanrof",...,N/A,7.0,"2,500",tt0020112,movie,N/A,N/A,N/A,N/A,NaN
10,True,NaN,Arrowsmith,1931,Approved,26 Dec 1931,108 min,Drama,John Ford,"Sinclair Lewis, Sidney Howard",...,N/A,6.2,"1,862",tt0021622,movie,27 Mar 2020,N/A,N/A,N/A,NaN
11,True,NaN,Bad Girl,1931,Passed,13 Sep 1931,90 min,"Drama, Romance",Frank Borzage,"Viña Delmar, Brian Marlow, Edwin J. Burke",...,N/A,6.5,"1,504",tt0021635,movie,23 Mar 2017,N/A,N/A,N/A,NaN
12,True,NaN,The Champ,1931,Passed,21 Nov 1931,86 min,"Drama, Family, Sport",King Vidor,"Frances Marion, Wanda Tuchock, Don Marquis",...,N/A,7.3,"3,416",tt0021730,movie,21 Nov 2016,N/A,N/A,N/A,NaN

In [15]:
# Use the shape attribute to see how many movies had API call results
omdb_data_df.shape

(542, 27)

In [14]:
# Save the API call results to a csv
omdb_data_df.to_csv("Resources/omdb_data.csv", index=False)

# Run API call on predicted 2024 Best Picture nominees

In [4]:
# Via an internet search, the following 5 films are some of those that the media is predicting to be nominated in 2024
potential_nominees = {
"film": ["Barbie", "Oppenheimer", "Past Lives", "Spider-Man: Across the Spider-Verse", "Air"],
"year_film": 2023}

In [5]:
# Create a dataframe with all these movies
potential_nominees_df = pd.DataFrame(potential_nominees)
potential_nominees_df

                                  film  year_film
0                               Barbie       2023
1                          Oppenheimer       2023
2                           Past Lives       2023
3  Spider-Man: Across the Spider-Verse       2023
4                                  Air       2023

In [6]:
# Reset the API call results and run the API call on these potential nominees
omdb_data = []
omdb_api(potential_nominees_df)

FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND

In [7]:
# Save the API call results to a dataframe
ombd_potential_nominees_df = pd.DataFrame(omdb_data)
ombd_potential_nominees_df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Barbie,2023,PG-13,21 Jul 2023,114 min,"Adventure, Comedy, Fantasy",Greta Gerwig,"Greta Gerwig, Noah Baumbach","Margot Robbie, Ryan Gosling, Issa Rae",Barbie suffers a crisis that leads her to ques...,...,80,7.4,"238,040",tt1517268,movie,N/A,"$541,907,382",N/A,N/A,True
1,Oppenheimer,2023,R,21 Jul 2023,180 min,"Biography, Drama, History",Christopher Nolan,"Christopher Nolan, Kai Bird, Martin Sherwin","Cillian Murphy, Emily Blunt, Matt Damon","The story of American scientist, J. Robert Opp...",...,88,8.6,"402,067",tt15398776,movie,N/A,"$302,215,760",N/A,N/A,True
2,Past Lives,2023,PG-13,23 Jun 2023,105 min,"Drama, Romance",Celine Song,Celine Song,"Greta Lee, Teo Yoo, John Magaro","Nora and Hae Sung, two deeply connected childh...",...,94,8.2,"15,336",tt13238346,movie,N/A,"$10,787,719",N/A,N/A,True
3,Spider-Man: Across the Spider-Verse,2023,PG,02 Jun 2023,140 min,"Animation, Action, Adventure","Joaquim Dos Santos, Kemp Powers, Justin K. Tho...","Phil Lord, Christopher Miller, Dave Callaham","Shameik Moore, Hailee Steinfeld, Brian Tyree H...","Miles Morales catapults across the Multiverse,...",...,86,8.7,"252,325",tt9362722,movie,08 Aug 2023,"$381,281,287",N/A,N/A,True
4,Air,2023,R,05 Apr 2023,111 min,"Drama, Sport",Ben Affleck,Alex Convery,"Matt Damon, Jason Bateman, Ben Affleck",Follows the history of sports marketing execut...,...,73,7.4,"140,226",tt16419074,movie,N/A,"$52,460,106",N/A,N/A,True

In [8]:
# Save the API call results to a csv
ombd_potential_nominees_df.to_csv("Resources/potential_nominees.csv", index=False)

# Run API Call on historic movies previously overlooked for best picture nomination. Movies picked by group members. Doing this mainly for fun :)

In [9]:
# Create the data
overlooked = {
"film": ["Hocus Pocus", "Mean Girls", "Dazed & Confused", "Die Hard", "Rocky Horror Picture Show", "Princess Bride",
          "Singin' in the Rain"],
"year_film": [1993, 2004, 1993, 1988, 1975, 1987, 1952]}

In [10]:
# Create the dataframe
overlooked_df = pd.DataFrame(overlooked)
overlooked_df

                        film  year_film
0                Hocus Pocus       1993
1                 Mean Girls       2004
2           Dazed & Confused       1993
3                   Die Hard       1988
4  Rocky Horror Picture Show       1975
5             Princess Bride       1987
6        Singin' in the Rain       1952

In [11]:
# Run the API call
omdb_data = []
omdb_api(overlooked_df)

FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND
FILM FOUND

In [12]:
# Save API call results to a dataframe
ombd_overlooked_df = pd.DataFrame(omdb_data)
ombd_overlooked_df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Hocus Pocus,1993,PG,16 Jul 1993,96 min,"Comedy, Family, Fantasy",Kenny Ortega,"David Kirschner, Mick Garris, Neil Cuthbert","Bette Midler, Sarah Jessica Parker, Kathy Najimy",A teenage boy named Max and his little sister ...,...,43,6.9,"147,242",tt0107120,movie,01 Jan 2014,"$44,342,713",N/A,N/A,True
1,Mean Girls,2004,PG-13,30 Apr 2004,97 min,Comedy,Mark Waters,"Rosalind Wiseman, Tina Fey","Lindsay Lohan, Jonathan Bennett, Rachel McAdams","Cady Heron is a hit with The Plastics, the A-l...",...,66,7.1,"406,583",tt0377092,movie,01 Aug 2013,"$86,058,055",N/A,N/A,True
2,Dazed and Confused,1993,R,24 Sep 1993,103 min,Comedy,Richard Linklater,Richard Linklater,"Jason London, Wiley Wiggins, Matthew McConaughey",The adventures of high school and junior high ...,...,80,7.6,"193,521",tt0106677,movie,24 Aug 2015,"$7,993,039",N/A,N/A,True
3,Die Hard,1988,R,20 Jul 1988,132 min,"Action, Thriller",John McTiernan,"Roderick Thorp, Jeb Stuart, Steven E. de Souza","Bruce Willis, Alan Rickman, Bonnie Bedelia",A New York City police officer tries to save h...,...,72,8.2,"911,376",tt0095016,movie,02 Sep 2014,"$83,844,093",N/A,N/A,True
4,The Rocky Horror Picture Show,1975,R,31 Aug 1975,100 min,"Comedy, Horror, Musical",Jim Sharman,"Richard O'Brien, Jim Sharman","Tim Curry, Susan Sarandon, Barry Bostwick",A newly-engaged couple have a breakdown in an ...,...,65,7.4,"160,258",tt0073629,movie,25 Nov 2015,"$112,892,319",N/A,N/A,True
5,The Princess Bride,1987,PG,09 Oct 1987,98 min,"Adventure, Comedy, Family",Rob Reiner,William Goldman,"Cary Elwes, Mandy Patinkin, Robin Wright",A bedridden boy's grandfather reads him the st...,...,77,8.0,"440,060",tt0093779,movie,23 Dec 2016,"$30,857,814",N/A,N/A,True
6,Singin' in the Rain,1952,G,10 Apr 1952,103 min,"Comedy, Musical, Romance","Stanley Donen, Gene Kelly","Betty Comden, Adolph Green","Gene Kelly, Donald O'Connor, Debbie Reynolds",A silent film star falls for a chorus girl jus...,...,99,8.3,"252,643",tt0045152,movie,01 Mar 2014,"$1,884,537",N/A,N/A,True

In [13]:
# Save the API call results to a csv
ombd_overlooked_df.to_csv("Resources/overlooked.csv", index=False)